<div id="event-header" style="">
        <div id="browse-global-actions-bar">
            <div id="browse-location"><a  href="/home" data-fq_path="" class=""></a><%=event_header_title%></div>
			<%=render :partial => "shared/icons_search"%>
        </div>
				<%=render :partial => "#{params[:controller].downcase}/subtabs"%>
			</div>
		</div>
