<div id="search-location">
	<span id="web-search-results"></span>
</div>
<div id="browse-rightmenu">
	<div id="exit-search-xclose">
  	<%=image_tag("icon_spacer.gif", :alt=>"", :class=>"sprite sprite_web  s_web_xclose xclose-sprite")%>
  </div>
	
	<%=render :partial=>"shared/actions_bar"%>
	<a id="advanced-search-link" class="">Advanced search</a>
</div>

<div id="upload_area" style="display:none;"></div>
