<div id="inline-upload-status" class="upload-file" style="display:none;">
  <div class="inline-upload-info">
    <div class="icon"><img src="/assets/icon_spacer.gif" class="sprite sprite_web s_web_syncing "></div>
    <div class="files-info">
      <span class="file-desc">Uploading corporations_people.psd</span>
      <span class="num-errors"></span>
      <span class="details">
        -
        <a class="view-details" onclick="Modal.hide(); Uploader.show_upload(); return false;"> files left</a>
      </span>
    </div>
    <div class="status">57 secs left</div>
  </div>

  <div class="inline-upload-bar">
    <div class="inline-upload-progress" style="width: 0%; "></div>
  </div>
</div>