<div style="margin: 0px 0px 0px -320px;position: fixed; opacity: 0.2; display:none;" id="modal-behind"></div>
<div style="margin: 0px 0px 0px -310px; position: fixed;display:none; " id="modal">
	<div id="modal-box">
		<a href="#" id="modal-x" onclick="javascript: Modal.hide(); return false;"></a>
		<h2 id="modal-title" style=""></h2>
		<div id="modal-content" style="height: auto; "></div>
	</div>
</div>
<div style=" opacity: 0.6; display:none;" id="modal-overlay" onclick="Modal.hide();return false;"></div>
<div style=" display:none;" id="modal-holding"></div>