	<div id="page-header" class="fixed-header">
	
		<div style="float:left;padding-left:5px;">RubyBox - the personal ftp site</div>
		<div id="account-header">
		
		<ul class="nav"><li class="ui-button"><a href="#" class="header-nav-link"><span id="emsnippet-d92ff5a06e3c896a"><%=current_user.name%></span>&nbsp;<%=image_tag("icon_spacer.gif", :class=>"link-img sprite sprite_web s_web_login_arrow link-img")%></a>
		<%=render :partial => "shared/user_bubble"%>
		</li></ul></div></div>
	<script>

	</script>