<script type="text/x-jquery-tmpl" id="delete_items_tmpl">
<div class="wit_group" name="delete-confirm"> Are you sure you want to delete <span class="delete-filename">{{>filename}}</span> from your Repository?  <div class="modal-buttons">        <input type="button" class="freshbutton-blue" onclick="Modal.vars.action(Modal.vars.items); return Modal.hide(event);" value="Delete">        <input type="button" name="cancel delete" onclick="Modal.hide(event);" class="freshbutton" value="Cancel">    </div></div>
</script>