<script type="text/x-jquery-tmpl" id="download_tmpl">
<li class="upload-file template-download complete" id="upload_{{>index}}" data-dest="{{>dest}}">    
	<div class="upload-file-info">       
		<div class="filename-col">         
			<img src='/assets/icon_spacer.gif' class='sprite sprite_web {{>icon}}' />
			<span class="filename">{{>file.name}}</span>
			<span class="size">- {{>~size}}</span>
		</div>
		<div class="dest-col">
			<a class="dest">{{>dest}}</a>
		</div>
		<div class="error-col" style="display: none;">
			<span class="error-msg"></span>
			<span class="error-details"> 
				<img src="/assets/icon_spacer.gif" class="sprite sprite_web s_web_information "> </span>
		</div>
		<div class="status-col"><img src="/assets/icon_spacer.gif" class="sprite sprite_web s_web_synced "></div>
		<div class="time-col"></div>
		<br class="clear">
	</div>
</li>
</script>