<script type="text/x-jquery-tmpl" id="modal_content_tmpl">
<div class="wit_group" id="{{>name}}">
	{{>message}}
	<!--<div class="modal-buttons">
    	<input type="button" class="freshbutton-blue" onclick="Modal.vars.action(); return Modal.hide(event);" value="Delete">
        <input type="button" name="cancel delete" onclick="Modal.hide(event)" class="freshbutton" value="Cancel">
    </div>-->
</div>
</script>